*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

.header {
  background: url(../img/Rectangle_3.jpg) no-repeat;
}

.top_menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  position: relative;
}

.burger {
  display: none;
}

.nav ul {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav li {
  list-style: none;
  padding-right: 60px;
}

.nav li:last-child {
  padding-right: 0;
}

.nav li a {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav li a:active {
  color: green;
  text-decoration: line-through;
}

.header_content {
  max-width: 1200px;
  padding: 0 15px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.header_l {
  flex: 1 1 50%;
}
.header_l h1 {
  color: #fff;
  font-family: "Lato";
  font-size: 72px;
  font-weight: 900;
  /* Text style for "S, imple," */
  letter-spacing: 2.92px;
  padding-bottom: 40px;
}
.header_l p {
  color: #fff;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 100px;
}
.header_l span {
  font-family: "Lato";
  font-weight: 900;
}
.header_l a {
  text-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
  color: red;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  text-decoration: none;
  padding: 12px 55px;
  border-radius: 30px;
  display: inline-block;
}

.header_r {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 50%;
  position: relative;
  right: 0;
  bottom: -50px;
}
.header_r img {
  object-fit: cover;
  height: 100%;
}

.wrap_use {
  padding-bottom: 100px;
  border-bottom: 1px solid grey;
}

.use {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.message {
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mess_l {
  flex: 1 1 50%;
}
.mess_l img {
  object-fit: cover;
  width: 100%;
}

.mess_r {
  flex: 1 1 40%;
}
.mess_r h2 {
  color: #363636;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 40px;
}
.mess_r span {
  color: #e42a36;
}
.mess_r p {
  color: #808080;
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
}

.touch {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.touch_l {
  flex: 1 1 40%;
}
.touch_l h2 {
  color: #363636;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 40px;
}
.touch_l span {
  color: #e42a36;
}
.touch_l p {
  color: #808080;
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
}

.touch_r {
  flex: 1 1 50%;
  text-align: end;
}
.touch_r img {
  object-fit: cover;
  width: 100%;
}

.say {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0 240px;
}
.say h2 {
  color: #363636;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 120px;
}
.say span {
  color: #e42a36;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider_item {
  margin: 30px 15px 0;
  flex: 0 0 30%;
}

.item_title {
  text-align: start;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
}
.item_title .triangle {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: white;
  bottom: -12px;
  left: 20px;
  transform: rotate(-45deg);
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.item_text {
  color: #808080;
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 10px;
}

.sub {
  color: red;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.08px;
}

.item_man {
  display: flex;
  align-items: center;
}
.item_man .pic {
  margin-right: 20px;
}

.slider_item:hover {
  transition: 0.5s;
  transition-delay: 0.1s;
  border: none;
  margin-top: 0px;
}
.slider_item:hover .item_title {
  margin-bottom: 60px;
  transition: 0.5s;
  transition-delay: 0.1s;
  box-shadow: 0 30px 60px rgba(54, 54, 54, 0.15);
  border: none;
}
.slider_item:hover .triangle {
  border: none;
}

.heyu {
  background: linear-gradient(to top, #eb402c, #d90647);
  margin-bottom: 210px;
}
.heyu h3 {
  color: #fff;
  font-family: "Lato";
  font-size: 24px;
  font-weight: 900;
  line-height: 33.6px;
  letter-spacing: 1.44px;
}
.heyu p {
  opacity: 0.6;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.96px;
}

.heyu_wrap {
  max-width: 1170px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.heyu_l {
  max-width: 33%;
}

.heyu_block-l {
  display: flex;
  padding-bottom: 60px;
}
.heyu_block-l .block_title {
  margin-right: 40px;
}
.heyu_block-l .block_title h3 {
  text-align: end;
}
.heyu_block-l .block_title p {
  text-align: end;
}

.block_pic i {
  color: #fff;
  font-size: 50px;
}

.heyu_c {
  display: flex;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  transform: scale(1.3, 1.3);
}
.heyu_c img {
  object-fit: cover;
  height: 100%;
}

.heyu_r {
  max-width: 33%;
}

.heyu_block-r {
  display: flex;
  padding-bottom: 60px;
}
.heyu_block-r .block_pic {
  margin-right: 40px;
}

.last {
  padding-bottom: 0;
}

.subs {
  text-align: center;
  padding-bottom: 145px;
  border-bottom: 1px solid #ccc;
}
.subs h2 {
  color: #363636;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 30px;
}
.subs span {
  color: #e42a36;
}
.subs p {
  color: #808080;
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 70px;
}

.email {
  background-color: #f8f8f8;
  padding: 13px 20px;
  border-radius: 30px;
  color: #444;
  font-family: Lato;
  font-size: 18px;
  width: 380px;
}

.submit {
  background: linear-gradient(to top, #eb402c, #d90647);
  padding: 15px 50px;
  border-radius: 30px;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  margin-left: -40px;
  box-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
  cursor: pointer;
}

.down {
  padding-top: 100px;
  padding-bottom: 150px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.down h2 {
  color: #363636;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 900;
  padding-bottom: 30px;
}
.down span {
  color: #e42a36;
}
.down .down_text {
  color: #808080;
  font-family: Lato;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 59px;
}

.down_logo {
  width: 160px;
  height: 160px;
  box-shadow: 0 10px 30px rgba(223, 27, 61, 0.3);
  background: linear-gradient(to top, #eb402c, #d90647);
  margin: 0 auto;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.down_logo .h_logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-family: Lato;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.footer_nav ul {
  display: flex;
}
.footer_nav li {
  list-style: none;
  margin-right: 65px;
}
.footer_nav li:last-child {
  margin-right: 0;
}
.footer_nav a {
  color: #363636;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  text-decoration: none;
}

select {
  background-color: transparent;
  color: #363636;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}